
body {
    text-align: left;
    margin: 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;}

    header{
        background-color: #364759;
        padding-top: 0px; 
        padding-bottom: 20px;
    }

    .logo{
        background-color: #222f3f; 
        padding-top: 30px;
        padding-left: 20px;
        padding-bottom: 30px;
        margin-bottom: 10px;
    }

    footer{
        background-color: #364759; 
        text-align: center; 
        
    }

    nav li{ 
        display: inline; 
        color: white ; 
        padding-left: 20px; 
        padding-top: 20px; 
        padding-bottom: 20px;
    }

    main{
        background-color: #e9edee;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .reminderGiftCard{ 
        text-align: center;
        color: white;
        background-color: #f56600;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .giftGuides{
        text-align: center;
        color: white;
        background-image: url(images/bg-image.png);
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
     
    .shopNow{
        padding: 10px;
    }
    .box{
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        
    }

    .image{
       
        box-sizing: border-box;
        border-radius: 10%;
        width: 24.5%;
        height: 350px;
        padding: 10px;
       
        
        
    }
    
    .link{color:#306e63;
    }
    .endPage{color: white;}
    

    
    .description{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .backToTop{
        text-align: center;
        background-color: #364759;
        padding-top: 20px;
        padding-bottom: 20px;
                
    }
    